* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
}

html,
body {
    height: 100%;
    background: url(../img/cyber-background.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
form {
    border: 1px solid #ff2a6d;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    margin-top: 200px;
    padding-bottom: 40px;
    max-width: 900px;
    background-color: #01012b;
}
h1 {
    font-family: 'Caveat', cursive;
    text-shadow: 3px 5px 5px #05d9e8;
    font-size: 70px;
    text-align: center;
    color: #05d9e8;
}
.field, .btn__btn {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    max-width: 400px;
    justify-content: center;
    margin-bottom: 20px;
}

span {
    display: block;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #05d9e8;
    margin-bottom: 2px;
}

input {
    max-width: 250px;
    width: 100%;
    border-radius: 4px;
    font-size: 20px;
    letter-spacing: 0.01em;
    padding: 12px;
    color: #d1f7ff;
    background-color: #01012b;
    border: 1px solid #ff2a6d;
    outline: none;
}
input::placeholder {
    color: #B8BCCA;
}
select {
    max-width: 250px;
    width: 100%;
    border-radius: 4px;
    font-size: 20px;
    letter-spacing: 0.01em;
    padding: 12px;
    color: #d1f7ff;
    background-color: #01012b;
    border: 1px solid #ff2a6d;
    outline: none;
}
.checkbox {
    display: flex;
    gap: 20px;
    display: flex;
    align-items: center;
    margin-inline: auto;
    max-width: 400px;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 30px;
}
.checkbox__span {
    display: inline-block;
    font-size: 35px;
    font-family: 'Caveat', cursive;
    text-shadow: 3px 5px 5px #05d9e8;
}
.checkbox input {
    display: none;
}
.checkbox__box {
    position: relative;
    width: 18px;
    height: 18px;
    border: 2px solid #ff2a6d;
    background: #01012b;
    border-radius: 4px;
}
.checkbox__icon {
    position: absolute;
    display: none;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    height: 16px;
    width: 8px;
    border-bottom: 4px solid #05d9e8;
    border-right: 4px solid #05d9e8;
}
.checkbox input:checked~.checkbox__box>.checkbox__icon{
    display: inline-block;
}
.btn {
    display: flex;
    justify-content: center;
}
.btn__btn {
    display: inline-block;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 30px;
    padding: 20px 65px;
    font-size: 20px;
    font-weight: 600;
    color: #01012b;
    background: #ff2a6d;
    transition: .4s all ease-in-out;
}
button:hover {
    transform: translateY(-10px);
    background: #05d9e8;
    color: #01012b;
}
@media (max-width:900px) {
    form {
        margin: 15px;
    } 
}
input::-webkit-calendar-picker-indicator {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="aqua" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
  }